.avatar {
    height: 200px;
    border-radius: 100px;
}

.profile {
    padding: 40px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
    text-align: center; 
    width:100vw;
}

.title {
    font-size: 30px;
    color: rgb(0, 102, 255);
}

.description {
    text-align: justify;
    text-justify: inter-word;
}

@media screen and (min-width: 1500px) {
    .profile {
      padding-left: 30rem;
      padding-right: 30rem;
    }
  }