body {
    background-color: whitesmoke;
    color: #282c34;
    padding: 40px;
    font-family: Arial;
  }

.intro {
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
}