header {
  padding: 40px;
  font-family: Arial;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; 
  text-align: center; 
  color: rgb(0, 102, 255);
  width:100vw;
}

.gitLogo {
  margin-bottom: 0;
}

#gitLink {
  margin-top: 0;
}

.rocket {
  
  max-width:100%;
}

.intro {
  font-size: 30px;
  background: -webkit-linear-gradient(rgb(0, 59, 254), rgb(1, 255, 251));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}